.hero{
    height: 100vh;
    background: pink;
    display: flex;
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}
.hero-left h2{
    color: #090909;
    font-size: 26px;
    font-weight: 500;
}
.hero-left p{
    color: #171717;
    font-size: 100px;
    font-weight: 700;
}
.baigan-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.baigan-icon img{
    width: 105px;
    /* height: 50px; */
}
.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.hero-right img{
    width: 650px;
    height: 650px;
}
.button-container {
    text-align: center;
  }
  
  .shop-now-button {
    background-color: #e16767;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
  }

  .shop-now-button:hover {
    background-color: #ffa1a1; /* Change background color on hover */
  }
  
  .button-text {
    margin-right: 10px;
  }
  
  .cart-icon {
    font-size: 20px;
  }
/* .baigan{
    width: 105px;
    height: 50px; 
} 
.fruits{
    width: 500px;
    height: 500px;
} */