.segment{
    background: pink
}
.offers{
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    background: rgb(227, 151, 163);
    
}
.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.offers-left h1{
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}
.offers-left p{
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}
.button-container {
    text-align: center;
  }
  
  .shop-now-button {
    background-color: #e16767;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
  }

  .shop-now-button:hover {
    background-color: #ffa1a1; /* Change background color on hover */
  }
  
  .button-text {
    margin-right: 10px;
  }
  
  .cart-icon {
    font-size: 20px;
  }
.offers-right{
    flex:1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 50px;
}
.offers-right img{
    width: 350px;
    height: 350px;
}